<div class="row">
    <div class="col"></div>
    <div class="col">
        <nav class="navbar navbar-success">
            <a href="/" class="nav-item"><button class="btn btn-{{nav_bar_color}} btn-lg">HOME</button></a>
            <a href="/automation" class="nav-item"><button class="btn btn-{{nav_bar_color}} btn-lg">AUTOMATION CV</button></a>
            <a href="/python" class="nav-item"><button class="btn btn-{{nav_bar_color}} btn-lg">PYTHON CV</button></a>
        </nav>
    </div>
    <div class="col"></div>
</div>