{% extends "/includes/_layout.html"%}

{%block body%}
<div class="row">
    <div class="col"></div>
    <div class="col-10">

        <h4 class="text-warning">Skills</h4>
        <p>Research and development of projects related with robotics or industrial automation following SCRUM and AGILE methodologies. </p>
        <p class="text-warning">What I do :</p>
        <p class="text-secondary">Study of engineering problems and solutions within the marked</p>
        <p class="text-secondary">Testing of prototypes and evaluation of safety risks.</p>
        <p class="text-secondary">Working in coordination with several development teams</p>
        <hr>
        <p>Programming of industrial robots and industrial PLCs</p>
        <p class="text-warning">What I do :</p>
        <p class="text-secondary">Programming of industrial robots in low level languages. Configuration and tuning</p>
        <p class="text-secondary">Programming of industrial PLC in object oriented programming(OOP) and contact language (LADDER)</p>
        <p class="text-secondary">Programming of other configuration devices like safery scanners and lidars</p>
    </div>
    <div class="col"></div>
</div>

<div class="row">
    <div class="col"></div>
    <div class="col-10">

        <h4 class="text-warning">Technologies</h4>
        <p>Wide experience with ABB robots</p>
        <p>Experience with YASKAWA MOTOMAN industrial robots</p>
        <p>BACHMAN PLCs (OOP)</p>
        <p>SIGMA CONTROL PLCs (OOP)</p>
        <p>OMRON PLCs (LADDER)</p>
        <p>Robot Studio</p>
        <p>Lasal class / Lasal screen</p>
        <p>C/C++ (std 14)</p>

    </div>
    <div class="col"></div>
</div>

<div class="row">
    <div class="col"></div>
    <div class="col-10">

        <h4 class="text-warning">Experience / Projects</h4>
        <p>LNG Autonomous Fuelling System</p><span class="text-warning">Rotec Engineering B.V (The Netherlands) 2018-2020</span>
        <p>RFS Heavy Robotic Fuelling System</p><span class="text-warning">Rotec Engineering B.V (The Netherlands) 2018-2020</span>
        <p>KLM assisted oil refueling system for commercial aircrafts.</p><span class="text-warning">Rotec Engineering B.V (The Netherlands) 2019</span>

    </div>
    <div class="col"></div>
</div>

<div class="row">
    <div class="col"></div>
    <div class="col">
        <a href="https://drive.google.com/file/d/1TK6LdMMxupF086cEo6pWCiF3IBto69uS/view?usp=sharing"><button class="btn btn-lg btn-warning">Get short CV</button></a>
        <a href="https://drive.google.com/file/d/1baiJsJCjTXAhhOT3XCvJ0h4dzTb2bOcU/view?usp=sharing"><button class="btn btn-lg btn-warning">Get full CV</button></a>
    </div>
    <div class="col"></div>
</div>

{%endblock%}