{% extends "/includes/_layout.html"%}

{%block body%}
<div class="row">
    <div class="col"></div>
    <div class="col-8">
        <h4 class="text-success">Contact data</h4>
        <ul class="list-group">
            <li class="list-group-item bg-light">Full Name</li>
            <li class="list-group-item">Robin Viera Acosta</li>
            <li class="list-group-item bg-light">Telephone</li>
            <li class="list-group-item">+34 601107552</li>
            <li class="list-group-item bg-light">Email</li>
            <li class="list-group-item">robinviera@hotmail.com</li>
            <li class="list-group-item bg-light">Language</li>
            <li class="list-group-item">spanish(native) / english(fluid)</li>
            <li class="list-group-item bg-light">Nationality</li>
            <li class="list-group-item">Spanish</li>
            <li class="list-group-item bg-light">Current Location</li>
            <li class="list-group-item">Spain - Barcelona</li>
            <li class="list-group-item bg-light">Linkedin</li>
            <li class="list-group-item"><a class="text-success" href="https://www.linkedin.com/in/robin-viera-17aa2378/"> see linkedin profile --> </a></li>
        </ul>
    </div>
    <div class="col"></div>
</div>


<div class="row">
    <div class="col"></div>
    <div class="col-8">
        <h4 class="text-success">Experience</h4>
        <ul class="list-group">
            <li class="list-group-item bg-light">2017-2018 Barcelona</li>
            <li class="list-group-item">CMS freelance web developer (wordpress)</li>
            <li class="list-group-item bg-light">2018-2020 The Netherlands</li>
            <li class="list-group-item">Junior robotics engineer / developer</li>
        </ul>
    </div>
    <div class="col"></div>
</div>


<div class="row">
    <div class="col"></div>
    <div class="col-8">
        <h4 class="text-success">Education</h4>
        <ul class="list-group">
            <li class="list-group-item bg-light">2014-2016 Barcelona - El Clot</li>
            <li class="list-group-item">(ARI) Robotics and Industrial Automation</li>
            <li class="list-group-item bg-light">2016-2018 Barcelona - El Clot</li>
            <li class="list-group-item">(DAW) Web Applications Developer</li>
        </ul>
    </div>
    <div class="col"></div>
</div>


<div class="row">

</div>


<div class="row">
    <div class="col"></div>

    <div class="col">
        <h4 class="text-center text-primary">See full python CV</h4>
        <a  href="/python" ><img class="rounded" src="{{url_for('static',filename='/images/py.png')}}" class="rouded"></a>  
    </div>
    <div class="col">
        <h4 class="text-center text-warning">See full automation CV</h4>
        <a  href="/automation" ><img class="rounded" src="{{url_for('static',filename='/images/auto.png')}}" class="rouded"></a>
    </div>

    <div class="col"></div>

</div>
{%endblock%}