{% extends "/includes/_layout.html"%}

{%block body%}

<div class="row">
    <div class="col"></div>
    <div class="col-10">
        <h4 class="text-primary">What I am looking for</h4>
        <p>I am a self taught Pythoh developer that after sometime working in the automation industry is looking 
            for fresh air and a new work environment.
        </p>
        <p>The Python language offers me the posibility of having a tool that can do pretty much anything without
            having to be constantly worried about non stop new frameworks coming to the marked and tools that need
            to be learn almost every week which seems to be the case in JavaScript or be subjected of the constant 
            routine of C/C++ in the automation industry.
        </p>
        <p>My final goal is to gain enough experience in Python so that I can be able to work
            remotely and transmit to the clients the confidence such position requires.
        </p>
    </div>
    <div class="col"></div>
</div>

<div class="row">
    <div class="col"></div>
    <div class="col-10">
        <h4 class="text-primary">Python related technologies</h4>
        <p>Flask</p>
        <p>MySQL</p>
        <p>Mongodb / Mongo Atlas</p>
        <p>Google drive Api</p>
        <p>Pqt5 for python desktop apps</p>
    </div>
    <div class="col"></div>
</div>

<div class="row">
    <div class="col"></div>
    <div class="col-10">
        <h4 class="text-primary">Other technologies and skills</h4>
        <p>HTML5</p>
        <p>JavaScript</p>
        <p>CSS and SASS</p>
        <p>C/C++</p>
        <p>GitHub</p>
    </div>
    <div class="col"></div>
</div>


<div class="row">
    <div class="col"></div>
    <div class="col-10">
        <a href="https://drive.google.com/file/d/1TK6LdMMxupF086cEo6pWCiF3IBto69uS/view?usp=sharing"><button class="btn btn-lg btn-primary">Get a short version of my CV</button></a>
        <a href="https://github.com/duftcola-dev?tab=repositories"><button class="btn btn-lg btn-primary">My GitHub repository</button></a>
        <a href="http://duftcola.pythonanywhere.com/"><button class="btn btn-lg btn-primary">My first working app</button></a>
    </div>
    <div class="col"></div>
</div>


{%endblock%}